<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IRProject_GUI.UISettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IRProject_GUI.UISettings>
            <setting name="DictionaryWithStemming" serializeAs="String">
                <value>Dictionary-WithStemming</value>
            </setting>
            <setting name="DictionaryWithoutStemming" serializeAs="String">
                <value>Dictionary-WithoutStemming</value>
            </setting>
            <setting name="PostingWithStemming" serializeAs="String">
                <value>Posting-WithStemming
</value>
            </setting>
            <setting name="PostingWithoutStemming" serializeAs="String">
                <value>Posting-WithoutStemming</value>
            </setting>
            <setting name="DocumentsWithStemming" serializeAs="String">
                <value>Documents-WithStemming</value>
            </setting>
            <setting name="DocumentsWithoutStemming" serializeAs="String">
                <value>Documents-WithoutStemming</value>
            </setting>
        </IRProject_GUI.UISettings>
    </userSettings>
</configuration>